.navbar {
  background-color: rgb(239, 180, 0);
  
}

body {
background: linear-gradient(117deg, #FEE5DE 0%, #F4E1A8 50.66%, #DAE3F1 100.36%);
}



.navbar .btn {
    background-color: rgba(132, 21, 44, 1);
    border: none;
}

.navbar .btn:hover {
    background-color: rgb(90, 16, 31);
}

.introduction-container {
  background: #FFF6DD;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.introduction-container .btn {
    background-color: rgba(132, 21, 44, 1);
    border: none;
}

.introduction-container .btn:hover {
    background-color: rgb(90, 16, 31);
}

footer {
  display: block;
  text-align: center;
  background-color:rgba(132, 21, 44, 1);
  color: rgb(224, 202, 167);
}
