.navbar {
    background-color: rgb(239, 180, 0);

}

body {
    background: linear-gradient(117deg, #FEE5DE 0%, #F4E1A8 50.66%, #DAE3F1 100.36%);
    background-attachment: fixed;
}



.navbar .btn {
    background-color: rgba(132, 21, 44, 1);
    border: none;
}

.navbar .btn:hover {
    background-color: rgb(90, 16, 31);
}

.introduction-container {
    background: #FFF6DD;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.introduction-container .btn {
    background-color: rgba(132, 21, 44, 1);
    border: none;
}

.introduction-container .btn:hover {
    background-color: rgb(90, 16, 31);
}

.form-container {
    background-color: #FFF6DD;
}

body footer.footer {
    background-color: rgb(90, 16, 31) !important;
    color: white !important;
}

.form-container .btn {
    background-color: rgba(132, 21, 44, 1);
    border: none;
}

.profile-container {
    max-width: 1000px !important;
    margin: 30px auto !important;
    padding: 20px !important;
}

.profile-card {
    background: #ffefb5 !important;
    border-radius: 10px !important;
    padding: 25px !important;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15) !important;
}

.btn-back {
    background: #3b82f6 !important;
    color: #fff !important;
}

.btn-update {
    background: #8b1d2c !important;
    color: #fff !important;
    margin-top: 20px !important;
}